# ─── Servidor ───────────────────────────────────────
PORT=3000

# ─── AWS Region ─────────────────────────────────────
AWS_REGION=us-east-1

# ─── S3 Bucket de archivos ──────────────────────────
S3_BUCKET=cloudbox-files-salomonx

# ─── Cognito (para verificar JWT) ───────────────────
COGNITO_USER_POOL_ID=us-east-1_UUxJ24QzU
COGNITO_CLIENT_ID=3bvldqfu5fkl3gd3o8068dccp

# ─── CORS: URL de tu frontend en S3 ─────────────────
FRONTEND_URL=http://armsvault-frontend.s3-website-us-east-1.amazonaws.com

# ─── Límites ─────────────────────────────────────────
MAX_FILE_SIZE_MB=100
PRESIGNED_URL_EXPIRY=300
