<div
    class="modal fade"
    id="fileViewerModal"
    tabindex="-1"
    aria-hidden="true"
>

    <div class="modal-dialog modal-xl modal-dialog-centered">

        <div class="modal-content file-viewer-modal">


            <div class="modal-header">

                <div>

                    <h5
                        class="modal-title"
                        id="viewerFileName"
                    >
                        Archivo
                    </h5>

                </div>


                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>

            </div>


            <div
                class="file-viewer-body"
                id="fileViewerBody"
            ></div>


            <div class="file-viewer-footer">

                <span id="viewerFileSize">
                    -
                </span>


                <span>
                    CloudBox
                </span>

            </div>

        </div>

    </div>

</div>
